<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ale's Portfolio</title>

    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>

<body style="background-color:#b3d0ff;" >
    <!-- Bootstrap Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">My Portfolio</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/projects">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/workexperience">Work Experience</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="downloads/Resume.txt" download>Download Resume</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Content Area with Bootstrap Card -->
    <!--title-->
    <a style="text-decoration: none; color:#222529;" href="#aboutmesection"><div class="container mt-4">
        <br>
        <br>
        <h1 class="card-title" style="font-size: 10vw; align-content: center;">Welcome to my Portfolio Website</h1>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <img  src="images/varrow.png" alt="scroll" class="center" width="10" height="10">
        <br>
    </div>
    </a>
    
   <a id="aboutmesection"> <div class="abtmecontainer" style="background-color: white;">
        <div class="imageofme">
            <img src="images/yo.jpg" width="700" height="700">
        </div>
        <div class="abtmetext">
            <h1 style="font-weight:bold; font-size: 3vw;">About me</h1>
            <h3>Alessandra Curbelo</h3>
            <p style="font-family: 'Times New Roman', Times, serif; font-size: 1.5vw;">I am a student at the University of Central Florida studying Mechanical Engineering. I am interested in all aspects of robotics, space exploration, and automotive systems like aerodynamics and powertrain.</p>
        </div>
    </div>
    </a>
     <!-- <img src="images/me.JPG" alt="This is totally an image of me and not of a lot of people" width="1000" height="500"> -->
</body>

</html>