<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alessandra's Portfolio</title>

    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>

<body style="background-color:#b3d0ff;" >
    <!-- Bootstrap Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/home">My Portfolio</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/projects" style="color:#b3d0ff">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/workexperience">Work Experience</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="downloads/Resume.txt" download>Download Resume</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    
    <div class="container mt-4">
        <h2>Portfolio Website Process</h2>
        <br> 
        <div class="gridforsteps">
        <!--card one-->
            <div class="card">
           
                <!-- step one-->
                
                <div class="card-body">
                   <div class="stepgrid">
                    <!--col 1-->
                        <div class="container">
                            <br>
                            <img src="images/stepone.png" alt="step one" class="img-fluid rounded" width="80" height="80">
                        </div>
                    <!--col 2-->
                    
                        <div class="container">
                            <br>
                            <h4 style="font-weight: bold;">Workshop</h4>
                            <br>
                        </div>
                    </div>
                    <!--info-->
                    <img src="images/trashcan.jpeg" alt="asme logo" class="img-fluid rounded">
                    <br>
                    <br>
                    <p>I previously took a Python class and Introduction to C class so I have some knowledge of coding, its structure, and visual studio code. I attended a workshop to create a basic portfolio template. The set up consisted of nodeJS and bootstrap set up in a three page portfolio that could only be runned on a local host port. The picture above was my product of the workshop.</p>
                </div>
                
            </div>
        <!--card two-->
            <div class="card">
           
                <!-- step two-->
                
                <div class="card-body">
                   <div class="stepgrid">
                    <!--col 1-->
                        <div class="container">
                            <br>
                            <img src="images/steptwo.png" alt="step two" class="img-fluid rounded" width="75" height="80">
                        </div>
                    <!--col 2-->
                    
                        <div class="container">
                            <br>
                            <h4 style="font-weight: bold;">Front/Back end development</h4>
                            <br>
                        </div>
                    </div>
                    <!--info-->
                    <img src="images/frontendhtml.png" alt="coding" class="img-fluid rounded">
                    <br>
                    <br>
                    <p>To build upon the template, I learned some HTML for the front end development. Subsequently, I learned some javascript in order to make the website more uniform through the back end. I also realized why writing notes within code is so important, there is almost 100 lines of code for just the homepage. To simplify the processes on the front end, I added to the bootstrap CSS file by creating unique classes and functions. I coordinated all the hyperlinks and made it more user appealing. For example, when you click anywhere on the home page it links to an anchor in the about me page which is more fun than scrolling. </p>
                </div>
                
            </div>
            <div class="card">
           
        <!-- step three-->
                
                <div class="card-body">
                   <div class="stepgrid">
                    <!--col 1-->
                        <div class="container">
                            <br>
                            <img src="images/stepthree.png" alt="step one" class="img-fluid rounded" width="80" height="80">
                        </div>
                    <!--col 2-->
                    
                        <div class="container">
                            <br>
                            <h4 style="font-weight: bold;">Domain</h4>
                            <br>
                        </div>
                    </div>
                    <!--info-->
                    <img src="images/backendjava.png" alt="my beautiful home page" class="img-fluid rounded">
                    <br>
                    <br>
                    <p>To make the website accessible to others, I had to learn about domains. blah blah blah blah blaahhahahhah </p>
                </div>
                
            </div>
        <!--card four-->
            <div class="card">
           
                <!-- step four-->
                
                <div class="card-body">
                   <div class="stepgrid">
                    <!--col 1-->
                        <div class="container">
                            <br>
                            <img src="images/stepfour.png" alt="step two" class="img-fluid rounded" width="75" height="80">
                        </div>
                    <!--col 2-->
                    
                        <div class="container">
                            <br>
                            <h4 style="font-weight: bold;">Finished Product</h4>
                            <br>
                        </div>
                    </div>
                    <!--info-->
                    <img src="images/portfoliohomeweb.png" alt="coding" class="img-fluid rounded">
                    <br>
                    <br>
                    <p>Now you all can see my projects in a cute way :D </p>
                </div>
            </div>
        </div>       
       
    </div>
    <br>
</body>



</html>