<!-- projects.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>

    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>

<body style="background-color:#b3d0ff;" >
    <!-- Bootstrap Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/home">My Portfolio</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#" style = "color:#b3d0ff">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/workexperience">Work Experience</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="downloads/Resume.pdf" download>Download Resume</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Content Area with Projects List -->
    
    <div class="container mt-4">
        <h2>Projects</h2>
        <br>        
        <!--content begins-->
        <div class="card">
           
            <!-- Project 1 WEBSITE -->
            <a style="text-decoration: none; color:#222529;" href="/portfolioprocess" >
                <div class="card-body">
                    <div class="row">

                        <div class="col-md-4">
                            <img src="images/portfoliohomeweb.png" alt="Portfolio homepage" class="img-fluid rounded" >
                        </div>
                        <!--info-->
                        <div class="col-md-8">
                            <h4 class="mb-1" style="font-weight: bold;">Portfolio Website</h4>
                            <small class="dates"> February 2024 - March 2024</small>
                            <br>
                           
                            <p class="mb-1">In this project I made a portfolio website using Visual Studio Code. I used Javascript for the back end and html for the front end. To run it, I utilized nodejs and used bootstrap for css. Features of this website include multiple pages and routes, as well as complex images and links.</p>
                         
                            

                            <!--read more arrow-->
                            <div class="readmorearrow">
                                <br>
                                <br>
                                <img src="images/varrowb.png" alt="read more" width="20" height="30">
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <br>
        <div class="card">
            <!-- Project 2 GO KART-->
            <a style="text-decoration: none; color:#222529;" href="/gokartprocess">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="images/gokartex.jpeg" alt="Go kart" class="img-fluid rounded">
                        </div>
                        <div class="col-md-8">
                            <h4 class="mb-1" style="font-weight: bold;">Electric Go-Kart</h4>
                            <small class="dates"> May 2023 - Ongoing</small>
                            <br>
                            <p class="mb-1" >In this project I created an electric go-kart from scratch. I used AutoCad to plan out the frame to estimate the dimensions of each cut. Used relevant coursework knowledge in wiring all the batteries to the motor and converted the input to an acceleration pedal. Followed a budget and reached the goal of 25 miles per hour.  </p>

                            <!--read more arrow-->
                            <div class="readmorearrow">
                                <br>
                                <br>
                                <img src="images/varrowb.png" alt="read more" width="20" height="30">
                            </div>
                        </div>
                       
                    </div>
                </div>
            </a>
        </div>

        <br>
        <div class="card">
            <!-- Add more projects as needed -->

            <!-- Project 3 MATE ROV-->
            <a style="text-decoration: none; color:#222529;" href = "/materovcompetition" >
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="images/materovcompex.png" alt="Mate rov competition" class="img-fluid rounded">
                        </div>
                        <div class="col-md-8">
                            <h4 class="mb-1" style="font-weight: bold;">MATE ROV Competition</h4>
                            <small class="dates">  January 2024 - Ongoing</small>
                            <br>
                            
                            <p class="mb-1">In this project, I led my university team in the international MATE ROV competition. We built an underwater remotely operated vehicle to complete challenges related to ocean conservation. In the hardware team I worked on the 3D CAD modeling of specific parts in SolidWorks and Fusion 360. In the software team i worked with the software lead in creating the bluetooth transmiter between the ROV and the control station.</p>

                            <!--read more arrow-->
                            <div class="readmorearrow">
                                <br>
                                <br>
                                <img src="images/varrowb.png" alt="read more" width="20" height="30">
                            </div>
                        </div>
                    </div>
                </div>
            </a>

        </div>
        <br>
       
    </div>

    <!-- Add Bootstrap JS (optional, for features like tooltips, modals, etc.) -->
    <script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>